@text-color: #6F6F6F;
@heading-height: 60px;
@title-line-height: 17px;

@lg-container-margin: 12px;
@sm-container-margin: 8px;

@lg-section-margin: 20px;
@sm-section-margin: 8px;

@close-btn-line-height: 15px;

h4 {
  color: darken(@text-color, 30%);
  font-weight: normal;
  font-size: 14px;
  line-height: @title-line-height;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media @screen-lg, @screen-md {
    margin-top: @lg-section-margin;
  }

  @media @screen-sm {
    margin-top: @sm-section-margin;
  }
}

h5 {
  color: darken(@text-color, 10%);
  font-weight: normal;
  font-size: 13px;
  margin: 4px 0px 4px 0px;
}

.section {
  border-bottom: 1px solid rgba(100, 166, 236, 0.1);
  margin-bottom: 0px;

  @media @screen-lg, @screen-md {
    padding-bottom: @lg-section-margin;
  }

  @media @screen-sm {
    padding-bottom: @sm-section-margin;
  }
}


.small-text {
  font-size: 12px;
  color: @text-color;
}

#details-pannel {
  position: absolute;
  background-color: rgba(248, 249, 250, 1);
  box-shadow: 8px 8px 16px #888888;
  border-width: 1px;
  border-color: #B9B9B9;
  transition: 1s;

  @media @screen-lg, @screen-md {
    top: 0px;
    right: -50%;
    width: 40%;
    height: 100%;
    padding: @lg-container-margin;
    border-style: solid none solid solid;
  }

  @media @screen-sm {
    box-sizing: border-box;
    top: -100%;
    width: 100%;
    height: 50%;
    padding: @sm-container-margin;
    z-index: 2;
    border-style: none none none none;
  }

  &.visible {
    transition: 1s;

    @media @screen-lg, @screen-md {
      right: 0;
    }

    @media @screen-sm {
      top: 0%;
    }
  }

  .heading {
    height: @heading-height;
  }

  .close-container {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: @close-btn-line-height;

    .close-btn {
      text-decoration: none;
      color: #3A91F0;
      font-size: 12px;
      font-weight: bold;
      line-height: @close-btn-line-height;
    }

    @media @screen-lg, @screen-md {
      bottom: @close-btn-line-height + @lg-container-margin +
      (@lg-container-margin / 2);
    }

    @media @screen-sm {
      bottom: @sm-container-margin;
    }
  }

  .feedback {
    .rating {
      background-color: #FFEB83;
      border-radius: 50px;
      text-align: center;
      line-height: 50px;
      display: inline-block;
      width: 50px;
      height: 50px;
      border: 1px solid #F3B15C;
      font-size: 16px;
      font-weight: bold;
      color: rgba(26, 26, 26, 0.86);
      box-shadow: 3px 3px 3px rgba(139, 139, 139, 0.51);
    }
    .rating-count {
      .small-text;
    }
  }

  .price-container {
    .price {
      color: #292929;
    }

    .period {
      .small-text;
    }
  }

  .container {
    position: absolute;
    height: auto;
    overflow-y: scroll;

    .listing {
      font-size: 12px;
      color: #858585;
    }

    .location-photo {
      width: 100%;
    }
    @media @screen-lg, @screen-md {
      bottom: (2 * @lg-container-margin) + (2 * @close-btn-line-height);

      // We need to add 3px for the borders
      top: @heading-height + (3 * @lg-section-margin) + @lg-container-margin +
      @title-line-height + 3;

      left: @lg-container-margin;
      right: @lg-container-margin;
    }

    @media @screen-sm {
      bottom: (2 * @sm-container-margin) + @close-btn-line-height;

      top: @heading-height + (3 * @sm-section-margin) + @sm-container-margin +
      @title-line-height + 3;

      left: @sm-container-margin;
      right: @sm-container-margin;
    }
  }
}

@table-spacing: 8px;

.table {
  height: 100%;
  display: table;
  border-spacing: @table-spacing;

  .table-cell {
    display: table-cell;
    vertical-align: middle;

    &:first-child {
      margin-left: -@table-spacing;
    }

    &:last-child {
      margin-right: -@table-spacing;
    }
  }
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}
