<div class="feedback">
  <div class="rating">{{feedback.rating}}/5</div>
  <span class="rating-count">based on {{feedback.count}} reviews</span>
</div>

<h4 class="title">{{title}} ({{spaces_to_rent}} spaces)</h4>

<a class="close-btn js-close" href="">Close</a>
