{
  "images": {
    "marker": "/static/img/map-marker.png",
    "location": "/static/img/current-location.png"
  },
  "pannel_transition_duration": 1000,
  "api_root": "https://api.parkatmyhouse.com",
  "screen": {
    "mobile_max": 480
  },
  "google_maps_api_key": "YOU_GOOGLE_MAPS_API_KEY"
}
